:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
}

#app {
	height: 100%;
	overflow: hidden;
	overflow-y: auto;
	position: relative;
	padding: 8px;
}

.spinner {
	animation: spin 4s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.actions {
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin: 0.6rem 0;

	.action-icon {
		margin: 0 0.3rem;
	}
}

/* Fade Transition */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}

/* Slide-in Transition */
.slide-enter-active,
.slide-leave-active {
	transition: transform 0.5s;
}
.slide-enter,
.slide-leave-to {
	transform: translateX(100%);
}

/* Slide-out Transition */
.slide-out-enter-active,
.slide-out-leave-active {
	transition: transform 0.5s;
}
.slide-out-enter,
.slide-out-leave-to {
	transform: translateX(-100%);
}

/* Fade-Slide-in Transition */
.fade-slide-enter-active,
.fade-slide-leave-active {
	transition: all 0.5s;
}
.fade-slide-enter,
.fade-slide-leave-to {
	opacity: 0;
	transform: translateX(100%);
}

/* Fade-Slide-out Transition */
.fade-slide-out-enter-active,
.fade-slide-out-leave-active {
	transition: all 0.5s;
}
.fade-slide-out-enter,
.fade-slide-out-leave-to {
	opacity: 0;
	transform: translateX(-100%);
}
